* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.page-padding {
    padding-left: 20%;
    padding-right: 20%;
}

.header {
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.logo {
    margin-right: auto;
    font-size: 26px;
}

.hero {
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: space-between;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}

.header a {
    font-size: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: #F9FAF8;
}

.hero p {
    font-size: 24px;
    font-weight: 300;
    color: #F9FAF8;
    margin-top: 10px;
    margin-bottom: 15px;
}

.header a:hover {
    color: #a7d0ff;
}

.hero-image img {
    width: 600px;
    height: 350px;
    object-fit: cover;
    margin-left: 50px;
}

.information {
    padding-top: 80px;
    padding-bottom: 80px;
}

.information h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.information-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.information-content div {
    width: 280px;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.information-content p {
    padding-top: 10px;
}

.information-image {
    width: 280px;
    height: 280px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    object-fit: cover;
}

.quote {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote i {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.quote p {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
}

.action-call {
    background: #3882F6;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px;
    margin: 50px 20%;
    border-radius: 12px;
}

.action-call-text h2 {
    font-size: 24px;
    font-weight: 700;
}

.action-call button {
    border:#F9FAF8;
    background: none;
    border-style: solid;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 900;
    padding: 12px 24px;
    color: #F9FAF8;
    margin-left: auto;
}